header,footer {background-color: #9DEDE8; 
    text-align:center;}

h1, h2, h3, h4, h5, h6{
    padding: 10px;
    margin: 10px;
}


body {
    font-family: 'Caveat', cursive;
    text-align: center;
    font-size: 20px;
}


h1 {
    font-size: 2.5em;
    font-family: 'Caveat', cursive;
    color: #ed9ad0;
    text-align: right;
    width: 80%;
}

section{
    text-align: center;
    list-style: none;
    display: inline;
p{ 
    color: rgb (156, 166, 240);
}
}



b{
    color: royalblue;
    font-size:40px;
}

i{ color: deeppink;}





div {
display: inline-block;
width: 60%;
vertical-align: sub;
margin: 40px 0px;
}

.balao {background-color: aquamarine;}

img{
    display: inline;
    width: 35%;
    height: initial;
    margin: 0 px;
}

.logo
{display: inline-flex;
width: 1px
height: 1px}